/* :root {
 
  background-color: #242424;


} */

/* Navbar.css */
.navbar {
  background-color: rgba(235, 235, 235, 0.667);
  color: #213547;
  padding: 20px 10px;
  
   /* Add border with the specified color */
}

  
  .navbar-logo {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Responsive Navbar */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .navbar-link {
      margin: 10px 0;
    }
  }
  
  .center-container {
    display: grid;
    place-items: center;
    height: 100vh; 
  }
  .back-button {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #080212;
    border-radius: 5px;
    margin-left: auto; 
  }
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
  .back-button:hover {
    background-color: #fff;
    color: #333;
  }
 
  

